@font-face {
  font-family: "iconfont"; /* Project id 4318856 */
  src: url('iconfont.woff2?t=1699950082278') format('woff2'),
       url('iconfont.woff?t=1699950082278') format('woff'),
       url('iconfont.ttf?t=1699950082278') format('truetype');
}

[class^="icon"] {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-open:before {
  content: "\e618";
}

.icon-close:before {
  content: "\e8b9";
}

.icon-blog:before {
  content: "\e660";
}

.icon-shanchu:before {
  content: "\e74b";
}

.icon-shezhi:before {
  content: "\e8b8";
}

.icon-zhuanti:before {
  content: "\e657";
}

.icon-password:before {
  content: "\e663";
}

.icon-account:before {
  content: "\e609";
}

